<h3>○例1_2(requireで指定したキーがなければエラー)</h3>
<h5>params.require(:user).permit(:name, :email)</h5>
<%= form_with(model: @user, local: true, url: strong_parameters_1_2_path, scope: :sp) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, value: 'info@example.com' %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: 'sample' %>
  </div>

  <div class="actions">
    <%= form.submit 'submit' %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h5>params</h5>
      <%= debug(params.permit!) %>
    </div>
    <div class="col-6">
      <h5>Strong Parameters通過後</h5>
      <%= debug(@params) %>
    </div>
  </div>
</div>