<h3>○例5(ネストしたパラメーターを許可)</h3>
<h5>params.require(:user).permit(:name, :email,<br>
&nbsp;&nbsp;posts: [:id]<br>
)</h5>
<%= form_with(model: @user, local: true, url: strong_parameters_5_path) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, value: 'info@example.com' %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: 'sample' %>
  </div>

  <div class="field">

    <input type="text" value="sample123" name="user[posts][0][id]">
    <input type="text" value="sample456" name="user[posts][1][id]">
  </div>

  <div class="actions">
    <%= form.submit 'submit' %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h5>params</h5>
      <%= debug(params.permit!) %>
    </div>
    <div class="col-6">
      <h5>Strong Parameters通過後</h5>
      <%= debug(@params) %>
    </div>
  </div>
</div>